/* 
=============== 
Estilos Globales
=============== 
*/

/* Reinicio de CSS para eliminar márgenes y rellenar y garantizar una caja de modelo de borde */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos básicos para el cuerpo del documento */
body {
  font-family: var(--ff-secondary); /* Establece la fuente secundaria para el cuerpo */
  background: var(--clr-grey-10); /* Establece el fondo del cuerpo a un tono de gris */
  color: var(--clr-grey-1); /* Establece el color del texto del cuerpo a un tono de gris */
  line-height: 1.5; /* Establece la altura de línea del cuerpo */
  font-size: 0.875rem; /* Establece el tamaño de fuente base del cuerpo */
}

/* Estilos básicos para listas sin viñetas */
ul {
  list-style-type: none;
}

/* Estilos básicos para enlaces */
a {
  text-decoration: none;
}

/* Estilos de encabezados */
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing); /* Espaciado entre letras */
  text-transform: capitalize; /* Transforma el texto a mayúscula inicial */
  line-height: 1.25; /* Altura de línea */
  margin-bottom: 0.75rem; /* Margen inferior */
  font-family: var(--ff-primary); /* Fuente primaria */
}

/* Estilos para diferentes niveles de encabezados */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

/* Estilos para párrafos */
p {
  margin-bottom: 1.25rem; /* Margen inferior */
  color: var(--clr-grey-5); /* Color del texto */
}

/* Estilos para tamaños de fuente y márgenes en dispositivos de pantalla más grandes */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1; /* Restaura la altura de línea a su valor predeterminado */
  }
}
/* Estilos globales para las secciones */

/* Define el padding para todas las secciones */
.section {
  padding: 5rem 0;
}

/* Centro de la sección */
.section-center {
  width: 90vw;
  margin: 0 auto;  /* Centra la sección horizontalmente */
  max-width: 1170px;  /* Establece un ancho máximo */
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;  /* Aumenta el ancho de la sección en pantallas grandes */
  }
}

/* Estilos para el elemento principal */
main {
  min-height: 100vh;  /* Ocupa al menos el 100% de la altura de la ventana */
  display: grid;  /* Usa un contenedor grid */
  place-items: center;  /* Centra los elementos dentro del grid */
}

/* ===============
   Sidebar
   ===============
*/

/* Botón para abrir/cerrar la sidebar */
.sidebar-toggle {
  position: fixed;  /* Posición fija en la pantalla */
  top: 2rem;  /* Margen desde la parte superior */
  right: 3rem;  /* Margen desde la derecha */
  font-size: 2rem;  /* Tamaño de la fuente */
  background: transparent;  /* Fondo transparente */
  border-color: transparent;  /* Sin borde */
  color: var(--clr-primary-5);  /* Color del texto */
  transition: var(--transition);  /* Transición para los cambios */
  cursor: pointer;  /* Cambia el cursor al pasar el mouse */
  animation: bounce 2s ease-in-out infinite;  /* Animación continua */
}

/* Cambia el color del texto al pasar el mouse */
.sidebar-toggle:hover {
  color: var(--clr-primary-7);
}

/* Definición de la animación bounce */
@keyframes bounce {
  0% {
    transform: scale(1);  /* Escala normal */
  }
  50% {
    transform: scale(1.5);  /* Escala aumentada */
  }
  100% {
    transform: scale(1);  /* Vuelve a la escala normal */
  }
}

/* Encabezado de la sidebar */
.sidebar-header {
  display: flex;  /* Flexbox para alineación */
  justify-content: space-between;  /* Espacio entre los elementos */
  align-items: center;  /* Alinea los elementos verticalmente */
  padding: 1rem 1.5rem;  /* Padding interno */
}

/* Botón de cierre de la sidebar */
.close-btn {
  font-size: 1.75rem;  /* Tamaño de la fuente */
  background: transparent;  /* Fondo transparente */
  border-color: transparent;  /* Sin borde */
  color: var(--clr-primary-5);  /* Color inicial */
  transition: var(--transition);  /* Transición para los cambios */
  cursor: pointer;  /* Cambia el cursor al pasar el mouse */
  color: var(--clr-red-dark);  /* Color del texto */
}

/* Cambia el color del texto y rota el botón al pasar el mouse */
.close-btn:hover {
  color: var(--clr-red-light);
  transform: rotate(360deg);  /* Rotación completa */
}

/* Estilos para el logo */
.logo {
  justify-self: center;  /* Centra el logo */
  height: 40px;  /* Altura del logo */
}

/* Enlaces dentro de la sidebar */
.links a {
  display: block;  /* Se muestra como bloque */
  font-size: 1.5rem;  /* Tamaño de la fuente */
  text-transform: capitalize;  /* Capitaliza el texto */
  padding: 1rem 1.5rem;  /* Padding interno */
  color: var(--clr-grey-5);  /* Color del texto */
  transition: var(--transition);  /* Transición para los cambios */
}

/* Cambia el fondo y color del texto al pasar el mouse */
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.75rem;  /* Aumenta el padding izquierdo */
}

/* Íconos sociales en la sidebar */
.social-icons {
  justify-self: center;  /* Centra los íconos */
  display: flex;  /* Flexbox para alineación */
  padding-bottom: 2rem;  /* Padding inferior */
}

/* Estilos para los enlaces de íconos sociales */
.social-icons a {
  font-size: 1.5rem;  /* Tamaño de la fuente */
  margin: 0 0.5rem;  /* Margen entre los íconos */
  color: var(--clr-primary-5);  /* Color del texto */
  transition: var(--transition);  /* Transición para los cambios */
}

/* Cambia el color del texto al pasar el mouse */
.social-icons a:hover {
  color: var(--clr-primary-1);
}

/* Estilos para la sidebar */
.sidebar {
  position: fixed;  /* Posición fija en la pantalla */
  top: 0;
  left: 0;
  width: 100%;  /* Ocupa todo el ancho de la pantalla */
  height: 100%;  /* Ocupa toda la altura de la pantalla */
  background: var(--clr-white);  /* Fondo blanco */
  display: grid;  /* Usa un contenedor grid */
  grid-template-rows: auto 1fr auto;  /* Divide el grid en 3 filas */
  row-gap: 1rem;  /* Espacio entre filas */
  box-shadow: var(--clr-red-dark);  /* Sombra para la sidebar */
  transition: var(--transition);  /* Transición para los cambios */
  transform: translate(-100%);  /* Inicialmente fuera de la vista */
}

/* Muestra la sidebar al aplicar esta clase */
.show-sidebar {
  transform: translate(0);
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;  /* Ancho de la sidebar en pantallas grandes */
  }
}
